<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 管理员映射文件 -->
<mapper namespace="com.codeying.mapper.AdminMapper">


    <!--查询-->
    <select id="sqlSelectList" resultType="com.codeying.entity.Admin">
        select * from tb_Admin t
        <where>
            <if test="vo!=null and vo.username != null and vo.username != ''">
                t.username like CONCAT('%',#{ vo.username },'%');
            </if>
            <if test="vo!=null and vo.name != null and vo.name != ''">
                t.name like CONCAT('%',#{ vo.name },'%');
            </if>
        </where>
    </select>

    <delete id="sqlDelete">
        delete from tb_Admin where id = #{id}
    </delete>
    
    <update id="sqlUpdate">
        update tb_Admin
        set id=#{id}  ,username=#{username}  ,password=#{password}  ,name=#{name}  ,tele=#{tele} 
        where id= #{id}
    </update>

    <insert id="sqlSave">
        insert into tb_Admin values(
        #{id}, ,#{username}  ,#{password}  ,#{name}  ,#{tele} 
        )
    </insert>

</mapper>

