<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 非遗文化类型映射文件 -->
<mapper namespace="com.codeying.mapper.CultureTypeMapper">


    <!--查询-->
    <select id="sqlSelectList" resultType="com.codeying.entity.CultureType">
        select * from tb_CultureType t
        <where>
            <if test="vo!=null and vo.name != null and vo.name != ''">
                t.name like CONCAT('%',#{ vo.name },'%');
            </if>
        </where>
    </select>

    <delete id="sqlDelete">
        delete from tb_CultureType where id = #{id}
    </delete>
    
    <update id="sqlUpdate">
        update tb_CultureType
        set id=#{id}  ,name=#{name}  ,description=#{description} 
        where id= #{id}
    </update>

    <insert id="sqlSave">
        insert into tb_CultureType values(
        #{id}, ,#{name}  ,#{description} 
        )
    </insert>

</mapper>

