<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 非遗资讯映射文件 -->
<mapper namespace="com.codeying.mapper.NewsMapper">

    <!--查询收藏最多的前几个-->
    <select id="topN" resultType="com.codeying.entity.News">
        select w.*,count(s.id) as starCount
        from tb_news w left JOIN tb_star s on w.id = s.itemid and itemtype='news'
        group by w.id order by starCount desc, publishtime desc
    </select>

    <!--查询-->
    <select id="sqlSelectList" resultType="com.codeying.entity.News">
        select * from tb_News t
        <where>
            <if test="vo!=null and vo.showtitle != null and vo.showtitle != ''">
                t.showtitle like CONCAT('%',#{ vo.showtitle },'%');
            </if>
        </where>
    </select>

    <delete id="sqlDelete">
        delete from tb_News where id = #{id}
    </delete>
    
    <update id="sqlUpdate">
        update tb_News
        set id=#{id}  ,showpic=#{showpic}  ,showtitle=#{showtitle}  ,showdesc=#{showdesc}  ,showdetail=#{showdetail}  ,publishtime=#{publishtime}  ,vv=#{vv} 
        where id= #{id}
    </update>

    <insert id="sqlSave">
        insert into tb_News values(
        #{id}, ,#{showpic}  ,#{showtitle}  ,#{showdesc}  ,#{showdetail}  ,#{publishtime}  ,#{vv} 
        )
    </insert>

</mapper>

